// Themes: https://quarto.org/docs/output-formats/html-themes.html
// Settings: https://quarto.org/docs/output-formats/html-themes.html#sass-variables

/*-- scss:defaults --*/

$callout-color-note: #Fa1a8e;  
$callout-color-tip: #009B7D; 
//$callout-color-caution: #Ffbcd9;
//$callout-color-warning: #E6c7c2;
//$callout-color-important: #F7bfbe;
$callout-border-width: 5px;
$callout-icon-scale: 100%;

/*-- scss:rules --*/
